.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #b4b5cc;
  color: #11133a;
}

.total__title {
  margin: 0;
  font-size: 25px;
  line-height: 1.1;
}

.total__sum {
  font-size: 25px;
  line-height: 1.1;
  font-weight: bold;

  &_negative {
    color: #db6c59;
  }
}
