@import '../../assets/styles/variables';

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid $border-color;
  color: $font-title-color;

  &__title {
    margin: 0;
    font-size: 25px;
    line-height: 1.1;
  }

  &__sum {
    font-size: 25px;
    line-height: 1.1;
    font-weight: bold;
  
    &_negative {
      color: $font-error-color;
    }
  }
}
