@import '../../assets/styles/variables';

.spending-item {
  margin: 0 0 15px;

  &__columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3px;

    p {
      margin: 0;
    }
  }

  &__descr {
    max-width: 82%;
  }

  &__value {

  }

  &_negative &__value {
    color: $font-error-color;
  }

  p {
    font-size: 15px;
  }

  &__form-intro {
    margin: 0 0 10px;
    font-size: 15px;
    color: $font-title-color;
  }

  &__links {
    text-align: right;
  }
}
