$border-color: #b4b5cc;

$font-default-color: #313080;
$font-title-color: #11133a;
$font-btn-color: #282828;
$font-info-color: #313080;
$font-warning-color: #d59637;
$font-error-color: #db6c59;
$font-disable-color: #999;
$font-link-color: #2b76ff;
